version: '3.8'

services:
  user-service:
    build: 
      context: .
      dockerfile: ./user-service/Dockerfile
    ports:
      - "5001:5001"

    environment:
         - Mongo_URI=mongodb+srv://tmukund86:Wxz2dk2qBjHxSTSK@cluster0.ljrdb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
         - JWT_SECRET=your_jwt_secret_key

    dns:
      - 8.8.8.8

  product-service:
    build: 
     context: .
     dockerfile : ./product-service/Dockerfile
    ports:
      - "5002:5002"
      
    environment:
         - Mongo_URI=mongodb+srv://tmukund86:Wxz2dk2qBjHxSTSK@cluster0.ljrdb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
         - JWT_SECRET=your_jwt_secret_key
         
    dns:
      - 8.8.8.8 
   
  api-gateway:
    build: 
     context: .
     dockerfile : ./api-gatewat/Dockerfile
    ports:
      - "5000:5000" 
    

  
   
